{% extends 'dash/base.html'%}

{% block content %}

<div id="main-wrapper">
        <header id="site-header">
            <div class="row header-content">
                <div class="title-content">
                    <h1 id="site-title">The 3rd Room</h1>
                    <p id="site-subtitle" class="tt-up">trasteros como en tu casa</p>
                </div>
            </div>
        </header>
        <main id="site-body">
            <div class="row" id="login">
                <div class="login-in">
                     <h4>Login</h4>                
                    <div class="">
                        <form method="POST">
                            {% csrf_token %}
                            <span class="red-text">{{form.non_field_errors}}</span>
                            <input name="username" placeholder="Name">                        
                            <input name="password" placeholder="Password" type="Password">                        
                            <button type="submit" class="btn btn-success">Login</button>
                            <br><br>
                    </div>                    
                </div>      
            </div>
        </main>
        <footer id="site-footer">            
        </footer>
    </div>

{% endblock %}