{% extends 'dash/base.html'%}

{% block content %}

<div id="main-wrapper">
        <header id="site-header">
            <div class="row header-content">
                <div class="title-content">
                    <h1 id="site-title">The 3rd Room</h1>
                    <p id="site-subtitle" class="tt-up">trasteros como en tu casa</p>
                </div>
            </div>
        </header>
        <main id="site-body">
            <section id="enter" class="row">
                <a onclick="window.location='login'" class="waves-effect waves-light btn-large">ENTRAR</a>           
            </section>
        </main>
        <footer id="site-footer">
            
        </footer>
    </div>

{% endblock %}